<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand btn btn-primary" href="/">Test Dumy
  </a>
  <form class="form-inline">
    <% if user_signed_in? %>
      <%= link_to "Logout",destroy_session_path(current_user),method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path%> |
      <%= link_to "Login", new_user_session_path%>
    <% end %>
  </form>
</nav>